@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="~/favicon.png" asp-append-version="true" />
    <title>Poetracker</title>
    <meta name="robots" content="noindex,nofollow" />
    <meta property="og:title" content="Poetracker" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Path of Exile rank tracker" />
    <meta property="og:image" content="@Request.Scheme://@Request.Host/favicon.png" />
    <link rel="manifest" href="~/manifest.webmanifest" />
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">
                <img src="~/favicon.png" width="30" height="30" alt="Poetracker" />
                Poetracker
            </span>
        </div>
    </nav>
    <div class="container">
        <div id="app"></div>
        <script async type="text/javascript" src="./bundle.js" asp-append-version="true"></script>
    </div>
</body>
</html>
